* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Занимает всю доступную высоту */
    width: 100%;
    min-height: 100%; /* Это гарантирует, что контейнер займет всю высоту экрана */
    background-color: #FFB6C1; /* Розовый фон */
    padding: 10px;
}

.box {
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-sizing: border-box; /* Чтобы отступы не добавлялись к общей высоте */
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}

input {
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    width: 100%;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    background: #FFD700; /* Желтые кнопки */
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 17px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

.clear-button {
    margin-top: 25px;
    margin-left: 350px;
}
